*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*start of sections by Diego*/
/*header*/

header{

}

/*home*/

.home{

}

/*list*/

.list{

}

/*Helth*/

.helth{

}

/*Routine*/

.routine{

}

/*Follow*/

.follow{

}

/*Join*/

.join{

}

/*Footer*/

.footer{
    
}